<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>daw</title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
  <a href="#" onClick="window.location.reload();">frontend appweb</a>
</br>
  <a href="<%= api %>" title="API"><%= api %></a>
  <div class="row">
    <div class="column left">
      <h4>Formulario</h4>

      <!--form-->
      <input type="hidden" id="_id" name="_id">
      <input id="name" type="text" placeholder="name" name="name"></br>
      <input id="email" type="text" placeholder="email" name="email"></br>
      </br>
      <button id="bNew" onclick="onNew()" title="INSERT - API POST">Actualizar</button>
      <button disabled id="bUpdate" onclick="onUpdate()" title="UPDATE - API PUT">Borrar</button>
      <!--/form-->
    </div>
    <div class="column right">
      <h4>
        Lista
        </h4>
      <table id="users">
        <tr>
        <td>Usuario</td>
        <td>Modificar</td>
        <td>Borrar</td>
        </tr>
        <% for(var i=0; i<users.length; i++) {%>
        <tr>
          <td><a href="<%= api %>/<%= users[i]._id %>'" title="API GET <%= users[i]._id %>"><%= users[i].name %></td>
            <%= users[i].email %></a>
          <td><button onclick="setUserForm('<%= users[i]._id %>','<%= users[i].name %>','<%= users[i].email %>');" title="EDIT <%= users[i]._id %>">Modificar</button></td>
          <td><button onclick="api_delete_id('<%= users[i]._id %>')" title="DEL <%= users[i]._id %>">Borrar</button></td>
        </tr>
        <% }; %>
      </talbe>
    </div>
  </div>
  <script>
   const apiusers = '<%= api %>';
  </script>
  <script src="/main.js"></script>
</body>

</html>