
body {
  margin-left: 30px;
}

* {
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-decoration: none;
}

.column {
  float: left;
  padding: 10px;
}

.left {
  width: 12rem;
}
/*
.right {
  width: 75%;
}
*/